@use "./variables" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #fbfaf7, $color-bg);
  color: $color-text;
  font-size: 16px;
  line-height: 1.45;
}

h1,
h2,
h3,
p {
  margin: 0;
}
