@mixin respond-sm {
  @media (min-width: 641px) {
    @content;
  }
}

@mixin respond-md {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin respond-lg {
  @media (min-width: 1281px) {
    @content;
  }
}
